<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/gestion.css' %}">
        <title>tu DataScience</title>
    </head>
    <body>

        <nav>
            <h1 class="title">
                <a style="color: royalblue;text-decoration: none;" href="/">tu DataScience</a>
            </h1>

            <ul>
                <li><a class="items" href="{% url 'home' %}">Inicio</a></li>
                <li><a class="items" href="{% url 'blog' %}"> · Blog · </a></li>
                <li><a class="items" href="{% url 'tienda' %}">Tienda</a></li>
            </ul>
        </nav>
        <br>
        <br>
        <br>
        <br>

        {% block content %}

        {% endblock %}
        
        <br>
        <br>
        <footer>
            <p>
                © tu DataScience 2021. Todos los derechos reservados.
            </p>
        </footer>
    </body>
</html>